@font-face {
  font-family: 'Roboto-MediumItalic';
  src:  url('../fonts/subset-Roboto-MediumItalic.woff2') format('woff2'), 
        url('../fonts/subset-Roboto-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}